<div id="<%= dom_id company %>">
  <p>
    <strong>Name:</strong>
    <%= company.name %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= company.url %>
  </p>

  <p>
    <strong>Linkedin url:</strong>
    <%= company.linkedin_url %>
  </p>

  <p>
    <strong>Founded at:</strong>
    <%= company.founded_at %>
  </p>

  <p>
    <strong>Headquarters country:</strong>
    <%= company.headquarters_country %>
  </p>

  <p>
    <strong>Headquarters city:</strong>
    <%= company.headquarters_city %>
  </p>

  <p>
    <strong>Industries:</strong>
    <%= company.industries %>
  </p>

  <p>
    <strong>Keywords:</strong>
    <%= company.keywords %>
  </p>

  <p>
    <strong>Metadata:</strong>
    <%= company.metadata %>
  </p>

</div>
