<p style="color: green"><%= notice %></p>

<%= render @company %>

<div>
  <%= link_to "Edit this company", edit_company_path(@company) %> |
  <%= link_to "Back to companies", companies_path %> |

  <%= link_to "Destroy this company", company_path(@company), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
</div>
